<!-- this is a template for index.html.  It uses ejs and htmlWebpackPlugin to generate different
index.html for dev and production environments
-->
<!DOCTYPE html>
<html ng-app="myStudyApp">

<head>
    <!-- does this browser need fetch polyfill ? -->
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch"></script>

    <!-- build process (webpack plugin) will inject bundled js code,
	no need to include it -->

    <!-- Embedded JS -- I want this error tracking embedded only for production HTML -->
    <!-- when using webpack.config.dev this element wont exist -->
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
        <!-- BEGIN TRACKJS -->
        <script type="text/javascript">
            window._trackJs = {
                token: '<%=htmlWebpackPlugin.options.trackJSToken%>'
            };
        </script>
        <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
        <!-- END TRACKJS -->
        <% } %>

    <script type="text/javascript">
        var app = angular.module('myStudyApp', ['ngRoute']);
        console.log("printing app:");
        console.log(app);
        /*
        app.config(function($routeProvider) {
            $routeProvider.when("/hello2", {
                templateUrl: "/views/HelloWorld2.html"
            });
        });
*/
        //app.controller('myController', function($scope) {  });

    </script>        
</head>

<body>
    Main Page

    <div>
            Simple Angular Hello World with the first controller
           <input ng-model="name" type="text" placeholder="Enter your name here">
           <h1>Hello {{name}}</h1>
        </div>   
    <!-- <div ng-view></div> -->
</body>
<!-- 
<body ng-app="beterHelloApp">
    <h1>Hello World!</h1>    
    <input ng-model="name" type="text" placeholder="Enter your name here"> Hello {{name}}
</body>
-->
</html>